audio {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  opacity: 0.6;
  z-index: 9999;
}
audio:hover { opacity: 1; }


:root{
  --gap: clamp(12px, 2vw, 28px);  
}

*{ box-sizing: border-box; margin: 0; padding: 0; }
body{
  height:100dvh;
  overflow:hidden;                  
  color: var(--fg);
  font-family: system-ui, -apple-system, "Open Sans", Arial, sans-serif;
}


.bg{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;           
  object-position: center bottom;   
  z-index: 0;
  pointer-events: none;
}


.overlay{
  position: fixed;
  inset: 0;
  display: grid;                   
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:    repeat(12, 1fr);
  gap: var(--gap);
  padding: var(--gap);
  z-index: 1;
}


.caption{
  grid-column: 3 / 7;   
  color: black;           
  grid-row:    2 / 3;
  align-self: start;
  justify-self: start;
  font-weight: 700;
  letter-spacing: .02em;
  font-size: clamp(12px, 1.4vw, 18px);
  text-shadow:
    0 0 6px rgba(0,0,0,.45),
    0 2px 10px rgba(0,0,0,.35);
}


.lyric-box{
  grid-column: 7 / 13;           
  grid-row:   1 / 13;      
  align-self: end;
  justify-self: end;

  width:  clamp(240px, 28vw, 420px); 
  height: clamp(160px, 36vh, 380px); 
  padding: 12px;
  border-radius: 14px;
}


.scroller{
  height: 100%;
  overflow-y: auto;      
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-right: 6px;
  scroll-snap-type: y proximity;


  --fade: linear-gradient(
     to bottom,
     rgba(0,0,0,0),
     rgba(0,0,0,1) 14%,
     rgba(0,0,0,1) 86%,
     rgba(0,0,0,0)
  );
  mask-image: var(--fade);
  -webkit-mask-image: var(--fade);
}






.line{
  scroll-snap-align: start;
  font-weight: 700;
  letter-spacing: .04em;
  text-transform: none;
  font-size: clamp(14px, 2.2vw, 22px);
  line-height: 1.6;
  color: #fff;
  text-shadow:
    0 0 8px rgba(0,0,0,.55),
    0 2px 12px rgba(0,0,0,.4);
  text-align: center;
}


@media (max-width: 700px){
  .caption{
    grid-column: 2 / 8;
    grid-row: 2 / 3;
  }
  .lyric-box{
    grid-column: 2 / 12;       
    grid-row: 10 / 13;
  }
}




.words-layer {
  position: fixed;
  inset: 0;
  z-index: 1;
  pointer-events: none;    
  font-weight: 600;
  letter-spacing: .03em;
  color: #fff;

  text-shadow:
    0 0 6px rgba(0,0,0,.6),
    0 4px 18px rgba(0,0,0,.7);
  font-size: clamp(14px, 1.2vw, 20px);
  line-height: 1.4;
}

.word {
  position: absolute;
  padding: 4px 10px;
  border-radius: 8px;
  color: #fff;

}



.w1 { top: 25%; left: 25%; }
.w2 { top: 15%; left: 50%; }
.w3 { top: 55%; left: 12%; }
.w4 { top: 50%; left: 40%; }
.w5 { top: 18%; left: 75%; }
.w6 { top: 33%; left: 68%; }